body {
    background-color: cornsilk;
    font-family: 'Cormorant Garamond', serif;
    padding: 20px;
    
}

header {
    font-family: 'Paytone One', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

main {
	width: 30vw;
	padding: 20px;
}

section {
	height: 100vh;
}

h2 {
    font-family: 'Paytone One', sans-serif;
}

p {
    line-height: 1.8em;
    font-size: 20px;
}

figure {
    display: block;
    margin: 0;
    width: 65vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}

figure img {
    position: absolute;
    transition: all 4s ease-in;
}

.sect1{
    width: 147vh;
    top: 0;;
    left: 50%;
    transform: translateX(-50%);
}

.sect2, .sect2, .sect3, .sect4, .sect5 {
    width: 2364px;

}

.sect2 {
    top: 0;
    left: 0;
}

.sect3{
    top: 0;
    left: calc(-2364px + 65vw);
}