* {
    box-sizing: border-box;
}


body {
    background-color: cornsilk;
    font-family: 'Cormorant Garamond', serif;
    padding: 20px;
    
}

main {
	width: 30vw;
	padding: 20px;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    font-weight: 400;
    
}

section {
	height: 100vh;
}

h2 {
    font-family: 'Paytone One', sans-serif;
}

p {
    line-height: 1.8em;
    font-size: 20px;
}

figure {
    display: block;
    margin: 0;
    width: 70vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
}

figure img {
    position: absolute;
    transition: all 4s ease-in;
}

.product1{
    width: 133vh; /*133% ratio to height*/
    top: 0;;
    left: 50%;
    transform: translateX(-50%);
}

.product2, .product3, .product4, .product5 {
    width: 4032px;

}

.product2 {
    top: 0;
    left: 0;
}

.product3{
    top: 0;
    left: calc(-4032px + 70vw);
}