body {
    padding: 20px;
    margin: auto;

}

header {
    font-family: 'Unbounded', cursive;
    font-weight: 700;
    
}

header h2 {
    text-align: center;
}

main {
    padding: 20px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;

}

h3 {
    text-transform: uppercase;
}

section {
    display: flex;
    flex: 3;

}
