body {
    padding: 20px;
    margin: auto;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
}

header {
    font-family: 'Unbounded', cursive;
    font-weight: 700;
}

header h2 {
    text-align: center;
}

main {
    padding: 20px;
}
