body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    padding: 50px;
    line-height: 1.5em;
    background-color: black;
    background-image: url(images/background.png);
    
}

h1, h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

img {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    padding: 50px;
    align-content: center;
    
}

button { 
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
}

div {
    padding: 20px;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}