body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
    padding: 50px;
    line-height: 1.5em;
    background-image: url(images/background.png);
    
}

h1, h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    text-align: center;
}

img {
    padding: 50px;
    padding-left: 180px;
    
}

button { 
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    justify-content: center;
}

div {
    padding: 20px;
}

#gamecontrol, #score {
    background-color: aliceblue;
}

#game {
    background-color:#eaeaea;
}
#actions {
    background-color: silver;
}