body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #283044;
    margin: auto;
    line-height: 2em;
}

header, main, footer {
    background-color: #EBF5EE;
    align-items: center;
    width: 700px;
    margin: auto;
    padding-bottom: 1em;
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #8b786d;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #8b786d;
}

footer {
    text-align: center;
}