body {
    background-color: rgb(150, 175, 220);
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

main {
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 1.8em;
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

section  article {
    margin: 0 auto 50px auto;
    padding: 20px;
    background-color: white;
    position: relative;
    overflow: hidden;
}
