body {
    background-color: rgb(230, 238, 254);
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

time {
    padding: 5em;
}

main {
    margin: auto;
    padding-left: 5em;
    padding-right: 5em;
}
section {
    display: flex;
}

h2 {
    text-align: center;
}

section article {
    margin: 0 auto 50px auto;
    padding: 10px;
    width: 300px;
    height: 420px;
    border-radius: 5%;
    background-color: white;
    position: relative;
    overflow: hidden;
}

section article:hover {
    margin: 0 auto 50px auto;
    padding: 10px;
    width: 300px;
    height: 420px;
    border: 3px solid cornflowerblue;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 1);
    transition: all 1s;
}