body {
    background-color: blanchedalmond;
}

main {
    background-image: url(images/gingerbread-man.png), url(images/holly.png);
    background-repeat: no-repeat, repeat;
    background-position: right center, bottom;
    padding: 20px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    font-weight: 400;
    color: green;
    text-align: center;
}

input, label {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 20px;
    /* color: maroon; */
    margin-bottom: 1em;
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
    margin-bottom: 1em;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}