body {
    background-image: url(images/holly.png), url(images/gingerbread-man.png);
    background-color: blanchedalmond;
    padding: 20px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 95px;
    font-weight: 400;
    color: green;
    text-align: center;
}

input, label {
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 20px;
    color: maroon;
}

input {
    margin-bottom: 1em;
}