body {
    background-color: blanchedalmond;
}

main {
    background-image: url(images/gingerbread-man.png), url(images/holly.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right center, right bottom;
    padding: 20px;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: px;
    font-weight: 400;
    color: green;
    text-align: center;
}

#container {
    border: 5px;
    display: block;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

label {
    display: flex;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    margin-bottom: 0.5em;

}

input {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

