body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    margin: auto;
}

body, html {
    height: 100%;
}

#hero {
    background-image: url(images/brunch.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: #BCD0E2;
}

#travel {
    position: absolute;
    top: 35%;
    left: 5%;
    
}

#egg-tart {
    position: absolute;
    top: 30%;
    left: 75%;
}

#tangerines {
    position: absolute;
    top: 50%;
    left: 85%;
}

main {
    padding: 20px;
    margin: auto;
}

h2 {
    text-align: center;
    font-style: italic;
    color: #e2bcd8;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.column {
    flex: 24%;
    max-width: 24%;
    gap: 5px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

#gallery img:hover {
    opacity: 0.5;
    cursor: pointer;
}

h3 {
    font-style: italic;
    color: #698dad;
}

p {
    line-height: 2em;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

/*animation and makes background darken/fade when the pop-up modal is activated*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-property: opacity, visibility;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

/*pop-up modal*/
.overlay article {
    box-sizing: border-box;
    background-color: whitesmoke;
    border: solid pink 2px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 48%;
        max-width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}